/* {
    margin:  0;
    padding: 0;
}
*/    

a:link{
    color: #000;
    text-decoration: none;
}

a:visited{
    color: #000;
}

.body {
    background-color:  #000;
}

.header {
    color: #000;
}
